.DS_Store
/.idea
/temp
/logs
/.venv
/__pycache__
__pycache__/*
*~lock~
*.afdesign
*.ufo
*.vfb
*.vfc
*.vfj
*.ttf
*.woff
*.woff2
*.otf
*.ttx
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
*.log
.pytest_cache
.ruff_cache
.claude
.env
.env.*
!.env.example
